/build
/sync
/luna_pinyin
/luna_pinyin.userdb
/installation.yaml
/user.yaml
/opencc
/default.yaml
/luna_pinyin.dict.yaml
/luna_pinyin.schema.yaml
/luna_pinyin_simp.schema.yaml
/symbols.yaml
/tongwenfeng.trime.yaml
/trime.yaml
/fonts
/bopomofo_tw.schema.yaml
/essay.txt
/terra_pinyin.dict.yaml
